*.gz
*.gz.tbi
*.bgz
*.zip
*.log
reference/
.nextflow*
hail-*.log
trace-*.txt
work/
vendor/
bin/
plugins/
mt/
meta/
meta
vcf/
vcf
metavcf/
metavcf
txt/
txt
liftover/
liftover
format/gwas/
format/meta/
MR-MEGA
fineMapping/*
!fineMapping/logs/
logs/
*.correlations.txt
