*.gz
*.gz.tbi
*.bgz
*.zip
*.log
reference/
.nextflow*
hail-*.log
work/
vendor/
bin/
plugins/
maps/
maps
maps_hg19/
maps_hg19
mt/
meta/
meta
vcf/
vcf
metavcf/
metavcf
maps/
txt/
txt
liftover/
liftover
MR-MEGA
fineMapping
logs/
