/**
module load roslin/nextflow/23.10.1
module load singularity/4.1.3
source /exports/applications/support/set_qlogin_environment.sh

export NXF_SINGULARITY_LIBRARYDIR=/exports/igmm/eddie/BioinformaticsResources/nfcore/singularity-images

nextflow run gwasvcf.nf -resume \
-work-dir /exports/eddie/scratch/${USER}/ad/work \
-c eddie.config

nextflow run meta.nf -resume \
-work-dir /exports/eddie/scratch/${USER}/ad/work \
-c eddie.config


nextflow run genes.nf -resume \
-work-dir /exports/eddie/scratch/${USER}/ad/work \
-c eddie.config

nextflow run genes_hg19.nf -resume \
-work-dir /exports/eddie/scratch/${USER}/ad/work \
-c eddie.config

nextflow run metavcf.nf -resume \
-work-dir /exports/eddie/scratch/${USER}/ad/work \
-c eddie.config \
--sumstats "meta/fixed-N06A-*.meta.gz"

nextflow run liftover.nf -resume \
-work-dir /exports/eddie/scratch/${USER}/ad/work \
-c eddie.config \
--sumstats "metavcf/*.{vcf.gz,vcf.gz.tbi}" \
--source "reference/Homo_sapiens_assembly38.{fasta,fasta.fai}" \
--destination "reference/human_g1k_v37.{fasta,fasta.fai}" \
--chain reference/hg38ToHg19.over.chain.gz

nextflow run txt.nf -resume \
-work-dir /exports/eddie/scratch/${USER}/ad/work \
-c eddie.config \
--sumstats "liftover/*.{vcf.gz,vcf.gz.tbi}"

**/

//Profile config names for nf-core/configs
params {
  config_profile_description = 'University of Edinburgh (eddie) cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Alison Meynert (@ameynert)'
  config_profile_url = 'https://www.ed.ac.uk/information-services/research-support/research-computing/ecdf/high-performance-computing'
}

executor {
  name = "sge"
  queueSize = "100"
}

process {
  clusterOptions = { task.memory ? "-l h_vmem=${task.memory.bytes/task.cpus}" : null }
  //scratch = true
  penv = { task.cpus > 1 ? "sharedmem" : null }

  // common SGE error statuses
  errorStrategy = {task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'finish'}
  maxErrors = '-1'
  maxRetries = 3

  beforeScript =
  """
  . /etc/profile.d/modules.sh
  module load 'singularity'
  export SINGULARITY_TMPDIR="\$TMPDIR"
  export SINGULARITY_CACHEDIR=/exports/eddie/scratch/\$USER/singularity
  """
}

params {
  saveReference = true
  // iGenomes reference base
  igenomes_base = '/exports/igmm/eddie/BioinformaticsResources/igenomes'
  max_memory = 384.GB
  max_cpus = 32
  max_time = 240.h
}

env {
  MALLOC_ARENA_MAX=1
}

singularity {
  envWhitelist = "SINGULARITY_TMPDIR,TMPDIR"
  runOptions = '-p -B "$TMPDIR"'
  enabled = true
  autoMounts = true
}


process {
	withLabel: hail {
		container = "hailgenetics/hail:0.2.120"
	}
}

process {
  withLabel: gatk {
    container = "broadinstitute/gatk:4.3.0.0"
  }
}

process {
  withLabel: rscript {
    module = "R/4.4"
  }
}

process {
  withLabel: tools {
    module = "roslin/bcftools/1.20:roslin/samtools/1.9"
  }
}

process {
  withLabel: gwas2vcf {
    container = "docker://mrcieu/gwas2vcf:latest"
  }
}
