executor {
  name = "local"
  queueSize = "8"
}

singularity {
    enabled = false
}

docker {
    enabled = false
    runOptions = "--platform linux/amd64"
    temp = 'auto'
}

conda.enabled = true

process {
    withLabel: hail {
      conda = 'env/hail.yml'
    }
}

process {
  withLabel: ldsc {
    conda = 'env/ldsc.yaml'
  }
}

