executor {
  name = "local"
  queueSize = "8"
}

singularity {
    enabled = false
}

docker {
    enabled = true
    runOptions = "--platform linux/amd64"
    temp = 'auto'
}

process {
    withLabel: hail {
      conda = 'env/hail.yml'
    }
    //withLabel: hail {
    //  container = "hailgenetics/hail:0.2.120"
    //}
}

